* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

/*            FONT             */


@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster.otf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf");
}


@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}


@font-face {
    font-family: "Lato-Hairline";
    src: url("../fonts/Lato-Hairline.ttf");
}

@font-face {
    font-family: "Lato-HairlineItalic";
    src: url("../fonts/Lato-HairlineItalic.ttf");
}

@font-face {
    font-family: "Neue";
    src: url("../fonts/HelveticaNeue.dfont");
}

@font-face {
    font-family: "cochin";
    src: url("../fonts/cochin.otf");
}

.para {
	font-family: "Lato-Light";
	font-size: 1.3em;
	color: #575353;

	
}

#dirty {
	background-color: #F7F7F7;
}

#logo {
	font-family: "Lobster";
	font-size: 9vh;
	color: black;

}

.anti-padding {
	background-color: #FFCD27;
}


.navigation {
	font-family: "cochin";
	color: white;
	background-color: #4D4343
	
}

.blog-title {
	font-family: "cochin";
	font-size: 5vh;
	color: #3B3939;
}

.blog-title2 {
	font-family: "cochin";
	font-size: 5vh;
	color: #3B3939;
}

.blogPostdate {
	font-family: "Lato-HairlineItalic";
	color: black;
	opacity: 0.9;
}

.cart {
	font-family: "cochin";
	opacity: 0.9;
	font-size: 2.3vh;
}

.login {
	font-family: "cochin";
	opacity: 0.7;
}

.signUpModal {
	font-family: "cochin";
	font-size: 1.2em;

}

.loginPage {
	background-color: #F7C953;
	border-radius: 10px;

}

.modal-dialog div#login-modal.modal-content.loginPageModal {
	background-color: #F7C953!important;

}


.signIn {
	font-family: "Lobster";
	font-weight: bolder;
	/* font-family: "Neue";
	font-weight: lighter; */
	font-size: 3.6em;
}

.loginDetails {
	font-family: "Lato-Black";
	font-weight: bolder;
}

.registerBlurb {
	color: grey;

}





.signUp {
	font-family: "Lato-Regular";
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 4.1vh;
}


.registerBG {
	background: #F7C953;
}

.registerForm {
	background: #F7C953;
	border-radius: 10px;

}



.btnColor {
	background: #F7C953; /* Old browsers */ 

	font-family: "Lato-Black";
	font-weight: bolder;
	font-size: 3.6em;
}

.plName {
	font-family: "Lato-Light";
	font-weight: lighter;

}

.registrationSuccess {
	font-family: "Lato-Bold";
	opacity: 1;
	
}

.registerWelcome {
	border-radius: 10px;

}

.rgSuccessBlurb {
	opacity: 0.6;
}

.plSignIn {
	font-family: "Lato-Light";
	font-weight: lighter;
	color: red;

}

.anti-paddingReg {
	background-color: #F7C953;
}

#logo2 {
	color: black;
	font-family: "Lobster";
	font-size: 9vh;
}

#shop {
	font-family: "Lato-Bold";
}

.bookTitle {
	font-family: "cochin";
	font-size: 1.7em;
}

.bookDesc {
	font-family: "Lato-Light";
	opacity: 0.8;

}




#footer {
	background: #F7C953;
}

.footerBlurb {
	font-family: "Lato-Light";
	opacity: 0.8;
}

#avcvz {
	font-family: "Space Mono";
	font-size: 1.1em;
}

.b2home {
	font-family: "cochin";
	font-size: 1.1em;
	opacity: 0.8;

}

               /* TESTING                       */

.bg-addItem {
	background: black;
}

#logo3 {
	font-family: "Lobster";
	font-size: 9vh;
	color: white;

}


				  /* ABOUT PAGE                    */

.zquotes {
	font-family: "Lobster";
	font-size: 6vh;
	opacity: 0.9;

}

.zquotesBG {
	background-color: #F7C953;
	opacity: 0.9;

}

.zBlurb {
	font-family: "Lato-Light";
	font-size: 1.4em;
	color: #575353;

}


.myBooks {
	font-family: "Lato-Bold";
}

/*
                LOGIN CART  NAV BAR                        
*/

.loginNav {
	height: 5px;
}
































/*media queries*/



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	



  
   

  

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	




}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	



}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	

	

	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	



{
